:root {
    --clr-primary: #6b0fe8;
    --clr-primary-lt: #a46ff7;
    --clr-primary-dk: #520cb3;
}

@font-face {
  font-family: 'Hubot Sans';
  src: 
    url('./fonts/Hubot-Sans.woff2') format('woff2 supports variations'),
    url('./fonts/Hubot-Sans.woff2') format('woff2-variations'),
    url('./fonts/Hubot-Sans.woff') format('woff');
  font-weight: 200 900;
  font-stretch: 75% 125%;
  font-display: swap;
  
}

body {
    font-family: "Hubot Sans", Helvetica, Arial, sans-serif;
}

body, .header {
  background-color: #000 !important;
}

.footer, th {
    background-color: var(--clr-primary) !important;
}

h1, h3 {
  color: #000 !important;
  font-weight: 700;
}

h2, h4, h5 {
  color: var(--clr-primary) !important;
}

.article h2 {
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 16px;
}

.article {
    font-size: 16px;
}

.palette-primary-grey .drawer .anchor a {
    border-left: 2px solid var(--clr-primary) !important;
}

.palette-primary-grey .article a {
    color: var(--clr-primary);
}

.palette-accent-light-blue .article a:focus, .palette-accent-light-blue .article a:hover {
    color: var(--clr-primary-dk);
}